 html {
     background-color: rgb(216, 215, 213);
 }

.container {
  
    display: grid;
      /* grid-column-gap: 50px;
         grid-row-gap: 50px; */
          grid-gap: 20px 100px;
     grid-template-columns: 300px  400px;
}

#header {
      grid-column-start: 1;
  grid-column-end: 2;
  background-color: rgb(198, 206, 189);

}

#nav-bar {
       grid-column-start: 2;
  grid-column-end: 4;
  background-color: rgb(198, 206, 189);
  
 }

 .footer {

    background-color: rgb(205, 50, 192);
         grid-column-start: 1;
  grid-column-end: 4;


   margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: rgb(0, 0, 0);
 }

.aside {
    background-color: rgb(198, 206, 189);
}

.section {
    background-color: rgb(198, 206, 189);
    height: 400px;
      width: 400px;
}

.artical {
  
   
    display: flex;
  flex-direction: row;
  /* align-items: center; */
  text-align: center;
  /* width: calc(100% / 3); */
  margin: 10px;

}

.artical .one ,.artical .three {
       background-color: rgb(205, 50, 192);
}

.artical .two {
       background-color: rgb(155, 131, 153);
}
/* .artical .three {
       background-color: rgb(155, 27, 95);
} */

h2{
    margin: 20px;
}

ul {
  list-style-type: none;
  margin-left: 100px ;

  padding-right: 200px;


}

li {
  float: left;
    padding-right: 40px;
   
}

li a {
  display: block;
  padding: 8px;
    color: black;
    	text-decoration:none;
}
 form {
     width: 200px;
     height: 120px;
      margin-left: 90px;
      margin-top: 20px;
      border: solid 5px rgb(238, 238, 238);
      padding: 30px;
 }

 iframe {
     margin-left: 30px;
 }